
		<h1 class="display-3" align="center"> InSecure </h1>
		<div></div>
		<h2 class="display-5" align="center"> Group 7</h2>
		<div class="mb-3" align="center">
			Communication Plan: We currently have a messaging group chat which we can use for contacting any important information about assignments, deadlines, and things that need to be done for our group.
		</div>
		<div class="mb-3" align="center">
			Code of Conduct: Follow the guidelines, make sure you are communicating with your group, make sure you get your work done on time, collaborate with your group members, be open with your work, be responsible for what you need to do within the group, strive for quality work. 
		</div>
		<div class="mb-3" align="center">
			Expectations: Each group member is expected to equally contribute, get their work in on time and their work done with best quality.
		</div>
		<div class="mb-3" align="center">
			Values: We value communication, responsibility, and effort.
		</div>
		<div>
			<div class="container">
				<div class="row text-info-bg-subtle">
					<div class="col-4" alt="Colby Gleason">
						<img src="/images/About/Colby.jpg" alt="Colby Gleason Photo"class="rounded-3"width="150px"/>
						<br> Colby Gleason <br> Have expierance in HTML, JavaScript, and CSS. Stronger on the HTML side of things and weaker from the JS stuff
					</div>

					<div class="col-4" alt="Charles Lei">
						<img src="/images/About/Charles.jpg" alt="Charles Lei Photo" class="rounded-3" width="150px">
						<br> Charles Lei
						<br> I have experience in Javascript, HTML, and CSS. I'm still learning HTML with Javascript so I consider any class assignment a challenge. 
					</div>
					<div class="col-4" alt="Bobby Yu">
						<img src="/images/About/self image.jpg" alt="Bobby Yu Photo" class="rounded-3" width="150px">
						<br> Bobby Yu
						<br> I stepped into the tech industry a year ago. I gained beginner experience in JavaScript, HTML, and CSS from this class. <br> I consider this group collabration project as challange. Because I beileve there will be a lot of teamwork in the workforce matters.
					</div>
				</div>
				<div class="row">
					<div class="col-4" alt="Cole Putnam">	
						<img src="/images/About/ColePutnamPhoto.jpg" alt="Cole Putnam Photo" class="rounded-3" width="150px"/>
						<br> Cole Putnam
						<br> One strength I have that will prove to be useful for this project is writing in JavaScript. Things I can imrpove on is writing in HTML and CSS.
					</div>
                    <div class="col-4" alt="Cooper Freeman">
                        <img src="/images/About/Coop.jpg" alt="Cooper Freeman Photo" class="rounded-3" width="150px" />
                        <br> Cooper Freeman
                        <br> One strength that I can bring to this project is my javascript ability. I would like to improve on my CSS ability and team building skills.
                    </div>
					<div class="col-4" alt="Abel Yohannes">
						<img src="/images/About/AbelYohannes.jpg" alt="Abel Yohannes Photo" class="rounded-3" width="150px"/>
						<br> Abel Yohannes
						<br> I have experience with Javascript, HTML, and CSS however, my I am still working on my skills when it comes to using both Javascript and HTML together.
					</div>
				</div>
			</div>

</div>
