
		<h1 class="display-3" align="center"> Group Name</h1>
		<div></div>
		<h2 class="display-5" align="center"> Group 7</h2>
		<div class="mb-3" align="center">
			This is our communication plan. it describes how our teammates will have good communication with one another and whatnot
		</div>
		<div class="mb-3" align="center">
			This is our code of conduct. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		</div>
		<div class="mb-3" align="center">
			This is our expectations from each member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</div>
		<div class="mb-3" align="center">
			These are our group values. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</div>
		<div>
			<div class="container">
				<div class="row text-info-bg-subtle">
					<div class="col-4" alt="Colby Gleason">
						<img src="/images/Colby.jpg" class="rounded-3"width="150px"/>
						<br> Colby Gleason <br> Have expierance in HTML, JavaScript, and CSS. Stronger on the HTML side of things and weaker from the JS stuff
					</div>

					<div class="col-4" alt="Charles Lei">
						<img src="/images/Charles.jpg" class="rounded-3" width="150px">
						<br> Charles Lei
						<br> I have experience in Javascript, HTML, and CSS. I'm still learning HTML with Javascript so I consider any class assignment a challenge. 
					</div>
					<div class="col-4" alt="Bobby Yu">
						<img src="/images/self image.jpg" class="rounded-3" width="150px">
						<br> Bobby Yu
						<br> I stepped into the tech industry a year ago. I gained beginner experience in JavaScript, HTML, and CSS from this class. <br> I consider this group collabration project as challange. Because I beileve there will be a lot of teamwork in the workforce matters.
					</div>
				</div>
				<div class="row">
					<div class="col-4" alt="Cole Putnam">	
						<img src="/images/ColePutnamPhoto.jpg" class="rounded-3" width="150px"/>
						<br> Cole Putnam
						<br> One strength I have that will prove to be useful for this project is writing in JavaScript. Things I can imrpove on is writing in HTML and CSS.
					</div>
                    <div class="col-4" alt="Cooper Freeman">
                        <img src="../../wwwroot/images/Coop.jpg" class="rounded-3" width="150px" />
                        <br> Cooper Freeman
                        <br> One strength that I can bring to this project is my javascript ability. I would like to improve on my CSS ability and team building skills.
                    </div>
					<div class="col-4" alt="Abel Yohannes">
						<br>Subsequent columns continue along the new line.
					</div>
				</div>
			</div>

</div>
