
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4 d-flex justify-content-center">InSecure</h1>
	<p class="d-flex justify-content-center">
		Welcome to the InSecure Hat Company
	</p>
	<div class="row">
		<div class="col-4">
			Our mission is to supply the world with every hat you can imagine!
		</div>
		<div class="col-4">
			We sell different styles of hats: beanies, baseball, fitted, and more!
		</div>
		<div class="col-4">
			Our headquarters is located in State College, PA, established in 2023. 
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<img src="/images/Index/Person1.jpg" class="rounded-3"width="150px"/>
		</div>
		<div class="col-4">
			<img src="/images/Index/Person2.jpg" class="rounded-3"width="150px"/>		
		</div>
		<div class="col-4">
			<img src="/images/Index/Person3.jpg" class="rounded-3"width="150px"/>		
		</div>
	</div>
</div>
