
@{
	ViewData["Title"] = "Home Page";
}

<div class="row" alt="Baseball Caps">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>

<div class="row" alt="Beanies">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Beanie</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>
<div class="row" alt="Trucker Hats">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Trucker Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>
<div class="row" alt="Snapback Hats">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>
<div class="row" alt="Baseball Caps">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Snapback Hat</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>
<div class="row" alt="Baseball Caps">
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Red Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Blue Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Green Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Yellow Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Orange Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
		<div class="col-4 border border-primary-subtle">
			<img src="/images/Shop/Template.png" width="200px" class="rounded-3">
			<div class="justify-content-center">Violet Baseball Cap</div>
			<div> <button class="btn btn-light" type="submit">Add to Cart</button></div>
		</div>
</div>