

<style>
    .product-container {
        margin-bottom: 20px;
    }

    .product-item {
        text-align: center;
}
    .product-item img {
        width: 200px;
        border-radius: 5px;
    }

    .product-name {
        font-weight: bold;
        margin-top: 5px;
    }

    .product-price {
        color: green;
        margin-top: 5px;
    }
</style>

<div class="product-container">
    <div class="row" alt="Baseball Caps">
        <div class="col-4 product-item">
            <img src="/images/Shop/Baseball/RedHat.jpg" alt="Crimson Red Baseball Cap" class="rounded-3">
            <div class="product-name">Crimson Red Baseball Cap</div>
            <div class="product-price">$4.99</div>
            <div><button class="btn btn-light" onclick="addToCart(4.99)">Add to Cart</button></div>
        </div>
        <div class="col-4 product-item">
            <img src="/images/Shop/Baseball/BlueHat.jpg" alt="Baby Blue Baseball Cap" class="rounded-3">
            <div class="product-name">Baby Blue Baseball Cap</div>
            <div class="product-price">$4.99</div>
            <div><button class="btn btn-light" onclick="addToCart(4.99)">Add to Cart</button></div>
        </div>
        <div class="col-4 product-item">
            <img src="/images/Shop/Baseball/GreenHat.jpg" alt="Moss Green Baseball Cap" class="rounded-3">
            <div class="product-name">Moss Green Baseball Cap"</div>
            <div class="product-price">$4.99</div>
            <div><button class="btn btn-light" onclick="addToCart(4.99)">Add to Cart</button></div>
        </div>
    </div>
</div>

<div class="product-container">
    <div class="row" alt="Beanies">
        <div class="col-4 product-item">
            <img src="/images/Shop/Beanie/RedBeanie.jpg" alt="Ruby Red Beanie" class="rounded-3">
            <div class="product-name">Ruby Red Beanie</div>
            <div class="product-price">$9.99</div>
            <div><button class="btn btn-light" onclick="addToCart(9.99)">Add to Cart</button></div>
        </div>
         <div class="col-4 product-item">
            <img src="/images/Shop/Beanie/BlueBeanie.jpg" alt="Indigo Blue Beanie" class="rounded-3">
            <div class="product-name">Indigo Blue Beanie</div>
            <div class="product-price">$9.99</div>
            <div><button class="btn btn-light" onclick="addToCart(9.99)">Add to Cart</button></div>
        </div>
		 <div class="col-4 product-item">
            <img src="/images/Shop/Beanie/GreenBeanie.jpg" alt="Olive Green Beanie" class="rounded-3">
            <div class="product-name">Olive Green Beanie</div>
            <div class="product-price">$9.99</div>
            <div><button class="btn btn-light" onclick="addToCart(9.99)">Add to Cart</button></div>
        </div>
    </div>
</div>

<div class="product-container">
    <div class="row" alt="Trucker Hats">
        <div class="col-4 product-item">
            <img src="/images/Shop/Trucker/RedTrucker.jpg" alt="Cherry Red Trucker Hat" class="rounded-3">
            <div class="product-name">Cherry Red Trucker Hat</div>
            <div class="product-price">$5.99</div>
            <div><button class="btn btn-light" onclick="addToCart(5.99)">Add to Cart</button></div>
        </div>
		 <div class="col-4 product-item">
            <img src="/images/Shop/Trucker/BlueTrucker.jpg" alt="Ocean Blue Trucker Hat" class="rounded-3">
            <div class="product-name">Ocean Blue Trucker Hat</div>
            <div class="product-price">$5.99</div>
            <div><button class="btn btn-light" onclick="addToCart(5.99)">Add to Cart</button></div>
        </div>
		 <div class="col-4 product-item">
            <img src="/images/Shop/Trucker/GreenTrucker.jpg" alt="Pine Green Trucker Hat" class="rounded-3">
            <div class="product-name">Pine Green Trucker Hat</div>
            <div class="product-price">$5.99</div>
            <div><button class="btn btn-light" onclick="addToCart(5.99)">Add to Cart</button></div>
        </div>

<div class="product-container">
    <div class="row" alt="Snapback Hats">
        <div class="col-4 product-item">
            <img src="/images/Shop/Snapback/RedSnapback.jpg" alt="Candy Red Snapback Hat" class="rounded-3">
            <div class="product-name">Candy Red Snapback Hat</div>
            <div class="product-price">$14.99</div>
            <div><button class="btn btn-light" onclick="addToCart(14.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Snapback/BlueSnapback.jpg" alt="Berry Blue Snapback Hat" class="rounded-3">
            <div class="product-name">Berry Blue Snapback Hat</div>
            <div class="product-price">$14.99</div>
            <div><button class="btn btn-light" onclick="addToCart(14.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Snapback/GreenSnapback.jpg" alt="Pear Green Snapback Hat" class="rounded-3">
            <div class="product-name">Pear Green Snapback Hat</div>
            <div class="product-price">$14.99</div>
            <div><button class="btn btn-light" onclick="addToCart(14.99)">Add to Cart</button></div>
        </div>
		
<div class="product-container">
    <div class="row" alt="Fedora Hats">
        <div class="col-4 product-item">
            <img src="/images/Shop/Fedora/RedFedora.jpg" alt="Rose Red Fedora" class="rounded-3">
            <div class="product-name">Rose Red Fedora</div>
            <div class="product-price">$19.99</div>
            <div><button class="btn btn-light" onclick="addToCart(19.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Fedora/BlueFedora.jpg" alt="Royal Blue Fedora" class="rounded-3">
            <div class="product-name">Royal Blue Fedora</div>
            <div class="product-price">$19.99</div>
            <div><button class="btn btn-light" onclick="addToCart(19.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Fedora/GreenFedora.jpg" alt="Emerald Green Fedora" class="rounded-3">
            <div class="product-name">Emerald Green Fedora</div>
            <div class="product-price">$19.99</div>
            <div><button class="btn btn-light" onclick="addToCart(19.99)">Add to Cart</button></div>
        </div>

<div class="product-container">
    <div class="row" alt="Bucket Hats">
        <div class="col-4 product-item">
            <img src="/images/Shop/Bucket/RedBucket.jpg" alt="Scarlet Red Bucket Hat" class="rounded-3">
            <div class="product-name">Scarlet Red Bucket Hat</div>
            <div class="product-price">$12.99</div>
            <div><button class="btn btn-light" onclick="addToCart(12.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Bucket/BlueBucket.jpg" alt="Sky Blue Bucket Hat" class="rounded-3">
            <div class="product-name">Sky Blue Bucket Hat</div>
            <div class="product-price">$12.99</div>
            <div><button class="btn btn-light" onclick="addToCart(12.99)">Add to Cart</button></div>
        </div>
		<div class="col-4 product-item">
            <img src="/images/Shop/Bucket/GreenBucket.jpg" alt="Mint Green Bucket Hat" class="rounded-3">
            <div class="product-name">Mint Green Bucket Hat</div>
            <div class="product-price">$12.99</div>
            <div><button class="btn btn-light" onclick="addToCart(12.99)">Add to Cart</button></div>
        </div>

<script>
    function addToCart(productPrice) {
        // Get the current cart total from session storage
        var cartTotal = parseFloat(sessionStorage.getItem('cartTotal')) || 0;

        // Add the selected product price to the cart total
        cartTotal += productPrice;

        // Store the updated cart total in session storage
        sessionStorage.setItem('cartTotal', cartTotal.toFixed(2));

        // Refresh the checkout page to reflect the updated cart total
        window.location.href = 'home/cart.cshtml';
    }
</script>